<!--This is the base layout for all of the html templates-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>STU - Service To You</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css/}" />
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/6.2.0/css/all.css}" />
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!-- Main Navigation -->
<div layout:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">User Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <th:block sec:authorize="!isFullyAuthenticated()">
                        <li class="nav-item">
                            <i class="fas fa-user-lock"></i>
                            <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <i class="fas fa-user-plus"></i>
                            <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isFullyAuthenticated()">
                        <th:block sec:authorize="hasRole('USER')">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/service/prev}">Previous
                                    Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/service/new}">New Service</a>
                            </li>
                        </th:block>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/edit}">Edit Profile</a>
                        </li>
                        <th:block sec:authorize="hasRole('PROVIDER')">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/service/edit}">Edit Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/booking}">Orders</a>
                            </li>
                        </th:block>

                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <Button type="submit" class="btn btn-primary btn-sm">
							<span class="fas fa-sign-out-alt fa-1x" aria-hidden="true"
                                  >Logout</span>
                                </Button>
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<!--Main Content holder-->
<main class="container">
    <div layout:fragment="content" class="row"></div>
</main>
<!--Footer-->
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-right">&copy;User Portal</p>
            </div>
        </div>
    </div>
</footer>
<div layout:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
</div>
</body>
</html>